body {
  text-align: center;
  letter-spacing: 0.25em;
  background-color: wheat;
  color: cadetblue;
}

h1 {
  padding-top: 1.5em;
  text-shadow: 1px 1px white;
  font-family: 'Amatic SC';
  font-size: 3em;
  font-weight: 700;
}

hr {
  max-width: 13em;
}

.login_box {
  border: 10px solid white;
  max-width: 20em;
  height: 25em;
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.button {
  margin-top: 2em;
  padding: 0.75em;
  font-size: 1em;
  font-family: 'Special Elite';
  border-radius: 1em;
  border: none;
  color: white;
  background-color: cadetblue;
  transition: 0.5s;
  box-shadow: 2px 2px 2px darkgray;
}

.button:hover {
  cursor: pointer;
  padding: 1em;
  background-color: tan;
  transition: 0.5s;
}

/* Draw template */
.draw_menu {
  border: 1px solid green;
}

.draw_logo {
  margin-left: 2em;
  float: left;
  text-shadow: 1px 1px white;
  font-family: 'Amatic SC';
  font-size: 3em;
  font-weight: 700;
}

.draw_wrap {
  margin-right: 5em;
}

.draw_nav{
  display: inline;
  font-size: 1.25em;
  margin-top: 3.5em;
  margin-right: 2em;
  text-align: right;
  float: right;
  font-family: 'Special Elite';
}

.draw_nav:hover {
  cursor: pointer;
  text-decoration: underline;
}

.canvas_wrap {
  display: inline-block;
  margin-right: 1.5em;
}

.draw_canvas {
  width: 900px;
  height: 500px;
  border: 10px solid white;
}

.save_draw {
  float: right;
  margin-right: 7em;
  margin-bottom: 5em;
}

.write_canvas {
  width: 300px;
  height: 500px;
  border: 10px solid white;
}


